<input
  [(ngModel)]="term"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Filter products..."
  type="text"
>

<p *ngIf="loading" class="text-center text-lg">Loading...</p>

<div *ngIf="todos">
  <app-todo-description
    *ngFor="let todo of todos | todoTitleFilter:term; let i = index"
    [todo]="todo"
  ></app-todo-description>
</div>

<app-todo-modal *ngIf="modalService.isVisible$ | async" title="Create new Todo">
<!--  <app-create-product></app-create-product>-->
</app-todo-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
  (click)="modalService.open()"
>+</button>
