<div class="flex h-screen bg-gray-200 font-roboto">
  <app-sidebar title="{{ title }}"></app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden">
    <app-header></app-header>

    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
      <div class="container mx-auto px-6 py-8">
        <ng-content></ng-content>
      </div>
    </main>
  </div>
</div>

<!--<app-navigation></app-navigation>-->

<!--<app-global-error></app-global-error>-->

<!--<div class="max-w-2xl container mx-auto pt-5 mt-[50px]">-->

<!--  <router-outlet></router-outlet>-->

<!--</div>-->


<!--<div class="container">-->
<!--  <h1>{{ title | titlecase }}</h1>-->

<!--  <app-global-error></app-global-error>-->

<!--  <app-todo></app-todo> //todo:-->

<!--  <app-todo-form></app-todo-form> //todo:-->
<!--</div>-->
