/*!
 * Created under not commercial project "Renovation"
 *
 * Copyright 2021-2023
 */

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}
