<h1 class="font-bold mb-2 text-center text-lg">{{ "Extra information" | titlecase }}</h1>

<div>
  <p class="mb-2">
    <span [ngStyle]="{fontWeight: 'bold'}">
      Details of module used for backend requests:
    </span>
  </p>
  <p class="ml-2">
    <span [ngStyle]="{textDecoration: 'underline'}">
     about
    </span>:
    &nbsp;&nbsp;&nbsp;{{ about?.name }}
  </p>
  <p class="ml-2">
    <span [ngStyle]="{textDecoration: 'underline'}">
     description
    </span>:
    &nbsp;&nbsp;&nbsp;{{ about?.description }}
  </p>
  <p class="ml-2">
    <span [ngStyle]="{textDecoration: 'underline'}">
     module info:
    </span>
    &nbsp;&nbsp;&nbsp;{{ module }}
  </p>
</div>
